<script>
  import "../app.css";
  import { onMount } from "svelte";

  import Header from "../components/header.svelte";
  import Article from "../components/article.svelte";
  import Spinner from "../components/spinner.svelte";
  import LoadMoreBtn from "../components/load-more-btn.svelte";

  try {
    document.title = "Invert | Новости";
  } catch {}

  let articles = [];
  let newBatch = [];
  let isLoading = false;

  let query;
  let curDate = new Date();
  let page = 1;

  let searchParams = {
    q: "а",
    apiKey: "9dc9b54c277f4076a926590f1b88998d",
    //apiKey: "c92380e1277549a8800f06e9c31676b1",
    pageSize: 21,
    category: "",
    from: new Date(new Date().setDate(new Date().getDate() - 7)).toISOString(),
    to: curDate.toISOString(),
  };
  

  $: query = Object.keys(searchParams)
    .map((k) => k + "=" + searchParams[k])
    .join("&");
  $: filterArticles(query);


  async function fetchArticles() {
    isLoading = true;

    await fetch(`https://newsapi.org/v2/top-headlines?${query}&page=${page}`)
      .then((response) => {
        isLoading = false;
        if (!response.ok) {
          throw new Error(`Error: ${response.status}`);
        }
        return response.json();
      })
      .then((data) => {
        isLoading = false;
        newBatch = data.articles;
      })
      .catch((error) => {
        isLoading = false;
        console.log(error);
      });
  }

  async function filterArticles(q) {
    articles = [];
    newBatch = [];
    page = 1;
    isLoading = true;

    await fetch(`https://newsapi.org/v2/top-headlines?${q}&page=${page}`)
      .then((response) => {
        if (!response.ok) {
          if (response.status == 429) {
            console.log("API токен истек");
          }
          throw new Error(`Error: ${response.status}`);
        }
        return response.json();
      })
      .then((data) => {
        isLoading = false;
        newBatch = data.articles;
      })
      .catch((error) => {
        isLoading = false;
        console.log(error);
      });
  }

  onMount(() => {
    // fetchArticles();
  });

  $: articles = [...articles, ...newBatch];
</script>

<Header bind:searchParams {filterArticles} {query} />

<main class="contatiner gap-2 md:max-w-6xl mx-auto p-4">
  {#each articles as article}
    <Article {article} />
  {/each}

  {#if isLoading}
    <Spinner />
  {/if}
  
  <LoadMoreBtn {page} {fetchArticles} {isLoading} />
</main>
