<script>
  export let article;
  let date = "";
  let domain = new URL(article.url).hostname;
  date = new Date(article.publishedAt);

  date = date.toLocaleDateString("ru-RU", {
    day: "numeric",
    month: "short",
    year: "numeric",
  });
</script>

<article
  class="flex gap-3 even:bg-white odd:bg-gray-100 px-8 py-3 rounded-lg
    hover:scale-[1.01] hover:-translate-y-0.5 hover:shadow duration-200"
>
  <div class="flex flex-col gap-3 w-8 align-center justify-center flex-none">
    <!-- consent.google заблокирован-->
    <img
      src={domain === "consent.google.com"
        ? "google.png"
        : `https://www.google.com/s2/favicons?domain=${domain}`}
      alt="favicon"
      class="w-4 h-4"
    />
  </div>
  <div class="flex flex-col gap-2">
    <a href={article.url}>
      <h1 class="font-semibold">
        {article.title}<span class="text-gray-400 font-thin text-sm"
          >&nbsp({domain})</span
        >
      </h1>
    </a>
    <p class="text-gray-400 text-sm">{date}</p>
  </div>
</article>
