<script>
  export let title;
  export let checked = false;
</script>

<div>
  <input
    type="radio"
    class="hidden peer"
    id={title}
    name="category"
    value={title}
    {checked}
  />
  <label
    for={title}
    class="text-black' py-1.5 px-4 rounded-full hover:bg-gray-200 cursor-pointer bg-gray-100 
      peer-checked:bg-black peer-checked:text-white peer-checked:hover:bg-black"
    >{title}</label
  >
</div>
