<script>
  let dateRangeActive = false;
  let dateRange = "week";
  let dateRangeLabel = "Неделя";
  export let searchParams;

  function setDateRange(event) {
    if (event.currentTarget.value === "week") {
      searchParams.from = new Date(
        new Date().setDate(new Date().getDate() - 7)
      ).toISOString();
      dateRangeLabel = "Неделя";
    }
    if (event.currentTarget.value === "month") {
      searchParams.from = new Date(
        new Date().setDate(new Date().getDate() - 30)
      ).toISOString();
      dateRangeLabel = "Месяц";
    }
    dateRangeActive = false;
  }
</script>

<div class="relative ml-auto">
  <button
    class="flex gap-2 items-center justify-between ml-auto bg-green-500 text-white py-1 px-4 pr-3.5 rounded-full hover:bg-green-600 duration-200"
    on:click={() => {
      dateRangeActive = !dateRangeActive;
    }}
  >
    <span>{dateRangeLabel}</span>
    <img
      src="dropdown.svg"
      alt="dropdown"
      class="w-3 h-3 translate-y-0.5 duration-200"
      class:rotate-180={dateRangeActive}
      class:rotate-0={!dateRangeActive}
    />
  </button>
  <div
    class="shadow-lg rounded absolute bg-white z-10 w-32 right-0 duration-200"
    class:block={dateRangeActive}
    class:hidden={!dateRangeActive}
  >
    <label
      for="week"
      class="block hover:bg-gray-100 p-2 py-1.5 rounded cursor-pointer"
      >Неделя</label
    >
    <input
      type="radio"
      group={dateRange}
      on:change={setDateRange}
      name="dateRange"
      id="week"
      class="hidden"
      value="week"
    />

    <label
      for="month"
      class="block hover:bg-gray-100 p-2 py-1.5 rounded cursor-pointer"
      >Месяц</label
    >
    <input
      type="radio"
      group={dateRange}
      on:change={setDateRange}
      name="dateRange"
      id="month"
      class="hidden"
      value="month"
    />
  </div>
</div>
