<script>
  import CategoryButton from "./category-button.svelte";
  import DateRangeFilter from "./date-range-filter.svelte";

  export let searchParams;

  function handleCategories(event) {
    if (event.currentTarget.category.value == "Все") {
      searchParams.category = ""
    }
    if (event.currentTarget.category.value == "Технологии") {
      searchParams.category = "technology"
    }
    if (event.currentTarget.category.value == "Наука") {
      searchParams.category = "science"
    }
    if (event.currentTarget.category.value == "Бизнес") {
      searchParams.category = "business"
    }
    if (event.currentTarget.category.value == "Спорт") {
      searchParams.category = "sports"
    }
  }

</script>

<nav class="flex items-center gap-2 w-full mx-auto my-4">
  <form class="hidden items-center gap-3 sm:flex" on:change={handleCategories}>
    <CategoryButton title="Все" checked={true} />
    <CategoryButton title="Технологии" />
    <CategoryButton title="Наука" />
    <CategoryButton title="Бизнес" />
    <CategoryButton title="Спорт" />
  </form>

  <button
    class="flex sm:hidden gap-2 items-center justify-between bg-black text-white py-1 px-4 pr-3.5 rounded-full hover:bg-green-500 duration-200"
  >
    <span>Категории</span>
    <img
      src="dropdown.svg"
      alt="dropdown"
      class="w-3 h-3 translate-y-0.5 rotate-180 duration-200"
    />
  </button>

  <DateRangeFilter bind:searchParams />
</nav>
