<script>
  import Filters from "./filters.svelte";
  import SeacrhForm from "./seacrh-form.svelte";

  export let searchParams;
  export let query;
  export let filterArticles;
</script>

<header class="flex flex-col justify-center gap-2 mx-auto sm:max-w-6xl p-4">
  <section class="flex items-center h-16 gap-6">
    <a href="/" class="inline-block h-10 flex-none">
      <img src="logo.svg" alt="logo" class="h-full" />
    </a>
    <button
      class="hidden items-center justify-center h-7 w-7 shadow border border-gray-200 rounded-full flex-none sm:flex hover:rotate-[135deg] duration-300"
      on:click={filterArticles(query)}
    >
      <img src="./update.svg" alt="update" class="h-3/4 w-3/4" />
    </button>
    <p class="hidden text-sm text-gray-400 sm:block">28 декабря 17:03:46</p>
    <SeacrhForm bind:searchParams />
  </section>
  <Filters bind:searchParams />
</header>
