<script>
    export let isLoading;
    export let fetchArticles;
    export let page;
</script>

<button
    class="hidden mx-auto bg-black text-white px-6 py-2 rounded-full hover:bg-green-500 duration-200 my-12"
    class:hidden={isLoading}
    class:block={!isLoading}
    on:click={() => {
      page++;
      fetchArticles();
    }}
  >
    Загузить еще
  </button>