<script>
  export let searchParams;
  function handleSearch(event) {
    searchParams.q = event.currentTarget.searchQuery.value;
    event.currentTarget.value='';
  }
</script>

<form
  class="ml-auto flex-none flex gap-2 sm:border-b sm:pb-2"
  on:submit|preventDefault={handleSearch}
>
  <input
    type="text"
    placeholder="Найти новость"
    id="searchQuery"
    name="searhQuery"
    class="hidden sm:block focus:border-none focus:outline-none"
  />
  <button type="button">
    <img src="search.svg" alt="search" class="w-5 h-5 sm:h-3 sm:w-3" />
  </button>
</form>
